html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: gray;
    background-image: url("Background.png");
    min-width: 900px;
}

img{
    max-width: 100%;
    margin-top: 0.25em;
}

.threads{
    clear: both;
}

.container {
    width: 80%;
    background-color: #009688;
    padding: 2.5%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    min-height: 100%;
    box-sizing: border-box;
}

.item {
    background-color: #e0f2f1;
    margin-top: 2%;
    padding: 0%;
    clear: both;
    overflow: hidden;
    display: none;
}

.header {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    min-height: 100%;
    box-sizing: border-box;
}

.button {
    background-color: #00897b;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 0.5%;
    padding: 0px;
    background-position: center;
    background-size: contain;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
    cursor: pointer;
    float: right;
    border-radius: 100% !important;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

#newThread {
    background-image: url("AddButton.png");
}

#newId {
    background-image: url("NewIdButton.png");
}
#browse{
    background-image: url("PictureButton.png");
}

#IdBox {
    background-color: white;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 0.5%;
    padding: 0px;
    background-position: center;
    background-size: contain;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
    float: right;
    border-radius: 100% !important;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    opacity: 0;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}

.button:active {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.textInput {
    display: inline-block;
    width: 100%;
    height: 3em;
    margin: 0.5%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
    border-style: dashed;
    opacity: 0;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: white;
    float: left;
    font-size: 250%;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.logo {
    float: left;
    width: 10%;
    -moz-animation-name: zoomLogo;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 0.75s;

    -webkit-animation-name: zoomLogo;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.75s;

    animation-name: zoomLogo;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
    text-align: center;
    font-size: 250%;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 0px;
}

h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 175%;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 0px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    line-height: 120%;
}

.messageText {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    font-size: 175%;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 0px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    line-height: 140%;
    margin-top: 0.5em;
}

form {
    text-align: center;
}

.shadow {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.card {
    border-radius: 2px;
}

.id {
    display: inline-block;
    width: 7.5%;
    height: 10000px;
    float: right;
    margin-bottom: -20000px;
}

.thread {
    cursor: pointer;
}
.progressBar{
    width: 0%;
    height: 4px;
    color: green;
    background-color: green;
    clear: both;
    margin-bottom: 2em;
}
#msgInput{
    width: 92.5%;
    float: left;
}

@media handheld {
    .container{
        width: 95%;
    }

}
@media screen and (max-width: 1580px) {
    #msgInput{
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    #msgInput{
        width: 87%;
    }
}

/*@-moz-keyframes zoomLogo {
    0% {
        -moz-transform: scale(2,2);
    }
    100% {
        -moz-transform: scale(1,1);
    }
}
@-webkit-keyframes zoomLogo {
    0% {
        -webkit-transform: scale(2,2);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}
@keyframes zoomLogo {
    0% {
        transform: scale(2,2);
    }
    100% {
        transform: scale(1,1);
    }
}*/