@font-face {
    font-family: 'Stalinist One';
    font-style: normal;
    font-weight: 400;
    src: url(StalinistOne-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 900px;
    z-index: -1;
}

.background {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*margin: -20px -20px -20px -20px;*/
    margin: 0 0 0 0;
    overflow: hidden;
    z-index: -1;
    background-color: #000000;
    transition: background-color 0.2s linear;
    /*background-image: url("bgImages/bgL.png");*/
    background-size: cover;
    background-repeat: repeat;
    /*transition: background-image 7.5s linear;
    -webkit-filter: blur(10px); -moz-filter: blur(10px); -o-filter: blur(10px); -ms-filter: blur(10px); filter: blur(10px);^*/
}

/*#preload {
    background: url(bgImages/bg1.png) no-repeat -9999px -9999px;
}*/

img {
    max-width: 100%;
    margin-top: 0.25em;
    max-height: 90vh;
}

video {
    max-width: 100%;
    margin-top: 0.25em;
    max-height: 90vh;
}

.threads {
    clear: both;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 1vh;
}

.headerBar{
    background-color: #009688;
    clear: both;
    overflow: auto;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.container {
    width: 80vw;
    background-color: #009688;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    clear: both;
    min-height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.item {
    background-color: #e0f2f1;
    margin-top: 1vw;
    padding: 0%;
    clear: both;
    overflow: hidden;
    display: none;
}

.header {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    min-height: 100%;
    box-sizing: border-box;
}

.button {
    /*background-color: #00897b;*/
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    margin: 1vh 0.5vw 0vh;
    padding: 0px;
    background-position: center;
    background-size: contain;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
    cursor: pointer;
    float: right;
    /*border-radius: 100% !important;*/
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    background-repeat: no-repeat;
}

#sendMsg {
    background-image: url("icon/send_white.png");
    border-radius: 100% !important;
    background-color: #00897b;
    background-size: 80%;
    /*background-position-x: 0.25em;
    opacity: 0;*/
}

#newThread {
    transition: background-image 0.2s linear;
}

#helpButton {
    transition: background-image 0.2s linear;
}

#newId {
    transition: background-image 0.2s linear;
}

#browse {
    background-image: url("icon/upload_white.png");
    border-radius: 100% !important;
    background-color: #00897b;
    background-size: 80%;
    /*opacity: 0;*/
}

#IdBox {
    background-color: white;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;
    font-size: 150%;
    margin: 1vh 0.5vw 1vh;
    padding: 0px;
    background-position: center;
    background-size: contain;
    float: right;
    border-radius: 100% !important;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    opacity: 0;
    /*
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;*/
}

#IdBox h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 116.66%;
    margin: 0;
    line-height: 120%;
}

.button:active {
    -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.textInput {
    display: inline-block;
    width: 100%;
    height: 3.5vw;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
    border-style: dashed;
    opacity: 0;
}

h1 {
    font-family: 'Stalinist One', cursive;
    text-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px;
    color: rgba(0, 0, 0, 0);
    float: left;
    font-size: 2.5vw;
    max-width: 1vw;
    margin-top:1vh;
    margin-bottom: 0.75vh;
    transition: color 0.2s linear;
}

.logo {
    float: left;
    width: 3.5vw;
    height: 3.5vw;
    margin-top:1vh;
    margin-bottom: 1vh;
    -moz-animation-name: zoomLogo;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-duration: 0.75s;

    -webkit-animation-name: zoomLogo;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.75s;

    animation-name: zoomLogo;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
}

h2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
    text-align: center;
    font-size: 250%;
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 0.1em;
}

h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 1.8em;
    margin: 0.1em;
    line-height: 100%;
    /*
        text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;*/
}

.noThreads{
    margin-top: 5vh;
    opacity: 0;
}
.noThreads h2{
    font-size: 4vw;
}
.noThreads h3{
    font-size: 3vw;
    color: darkslategrey;
}

#IdBox h3 {
    font-size: 1.25vw;
    margin-top: 0.3vw;
}

.idDark {
    color: black;
}

.idBright {
    color: white;
}

.messageText {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
    /*text-align: center;*/
    font-size: 130%;
    margin: 0;
    line-height: 100%;
    margin-top: 0.75em;
    margin-left: 0.765em;
    margin-right: 0.765em;
}

.item ol {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
    /*text-align: center;*/
    font-size: 130%;
    margin: 0px;
    line-height: 100%;
    margin-top: 0.75em;
    margin-left: 0.75em;
}

form {
    text-align: center;
}

.shadow {
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    text-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.card {
    border-radius: 2px;
}

.id {
    display: inline-block;
    width: 7.5%;
    height: 10000px;
    float: right;
    margin-bottom: -20000px;
}

.thread {
    cursor: pointer;
    min-height: 3.8em;
}

.progressBar {
    width: 0;
    height: 4px;
    color: green;
    background-color: green;
    clear: both;
    margin-bottom: -1vh;
}

#msgInput {
    font-size: 125%;
    color: black;
    min-height: 3.5vw;
    height: 3.5vw;
    width: 65vw; /*92,5%*/
    max-width: 65vw;
    float: left;
    border-width: medium;
    transition: border-color 5s ease-out;
    margin-bottom: 0.75vh;
}

#msgInput.active {
    border-width: thick;
    border-color: green;
    transition: border-color 0.25s ease-out;
}

@media handheld {
    .container {
        width: 95vw;
    }

}

@media screen and (max-width: 1580px) {
    #msgInput {
        width: 61vw;
        max-width: 61vw;
    }
    .button {
        width: 5.5vw;
        height: 5.5vw;
    }
    #IdBox {
        width: 5.5vw;
        height: 5.5vw;
    }
    #msgInput {
        min-height: 5vw;
    }
    #IdBox h3 {
        font-size: 2vw;
        margin-top: 0.5vw;
    }
    .logo {
        width: 5.5vw;
        height: 5.5vw;
    }
    h1{
        font-size: 4vw;
    }
}

@media screen and (max-width: 1200px) {
    #msgInput {
        width: 57vw;
        max-width: 57vw;
    }
    .button {
        width: 7.5vw;
        height: 7.5vw;
    }
    #IdBox {
        width: 7.5vw;
        height: 7.5vw;
    }
    #msgInput {
        min-height: 7vw;
    }
    #IdBox h3 {
        font-size: 2.5vw;
        margin-top: 0.6vw;
    }
    .logo {
        width: 7.5vw;
        height: 7.5vw;
    }
    h1{
        font-size: 5w;
    }
}